<% provide(:title, "Help") %>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--1-col"></div>
  <div class="mdl-cell mdl-cell--11-col">
    <h1>How about some help?</h1></div>
</div>


<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col">
    Please visit the <a href="https://github.com/stympy/faker">Faker</a> <span id="gemtt">gem</span> website for any help with the gem. If you have difficulties with this site please visit https://www.mekesiabrown.com and contact me through there. I appreciate ALL feedback!
  </div>
</div>

