    <footer class="mdl-mini-footer">  
      <div class="mdl-mini-footer__left-section">
          <div class="mdl-logo">Crazy Faker!!</div>
          <nav>
            <ul class="mdl-mini-footer__link-list">
              <li><%= link_to "Faker'ized posts",   posts_path %></li>
              <li><%= link_to "Help",               help_path %></li>
              <li><%= link_to "Other gems",         othergems_path %></li>
            </ul>
          </nav>
          <small>Mekesia Brown, 2016 - 2018</small>
      </div>
    </footer>